<div ng-show="showBlands" class="list-group success">
    <div  >
        <table style="width: 100%;height: 100%">
            <tr>
                <td> <center><img src="@routes.Assets.at("images/{{getVehicleByBlandIndex.bland.image}}")" class="img-responsive" style="height: 80px;width:80px"></center></td>
            </tr>
            <tr>
                <td>
                    <center>{{getVehicleByBlandIndex.bland.blandName}}</center>
                </td>
            </tr>

        </table>
        <hr >
    </div>
</div>
<div ng-show="showModels" class="list-group success">
    <div  >
        <table style="width: 100%;height: 100%">
            <tr>
        <tr>
            <td> <center><img src="@routes.Assets.at("images/{{getVehicleByBlandIndex.image}}")" class="img-responsive" style="height: 80px;width:80px"></center></td>
        </tr>
            <tr>
                <td>
                    <center>{{getVehicleByBlandIndex.modelName}}</center>
                </td>
            </tr>

        </table>
        <hr >
    </div>
</div>
<div ng-show="showParttypes" class="list-group success">
    <div  >
        <table style="width: 100%;height: 100%">
            <tr>
                <td> <center><img src="@routes.Assets.at("images/{{getParttypeIndex.image}}")" class="img-responsive" style="height: 80px;width:80px"></center></td>
            </tr>
            <tr>
                <td>
                    <center>{{getParttypeIndex.typeName}}</center>
                </td>
            </tr>
            <tr>
                <td>
                    <center>{{getParttypeIndex.description}}</center>
                </td>
            </tr>
        </table>
        <hr >
    </div>
</div>
@*<div ng-show="showSparePartyDetailss" class="list-group success">*@
    @*<div  >*@
        @*<table style="width: 100%;height: 100%">*@

            @*<tr>*@
                @*<td> <center><img src="@routes.Assets.at("images/{{getSparePartties.partType.image}}")" class="img-responsive" style="height: 80px;width:80px"></center></td>*@
            @*</tr>*@
            @*<tr>*@
                @*<td>*@
                    @*<center>{{getSparePartties.partType.typeName}}</center>*@
                @*</td>*@
            @*</tr>*@
            @*<tr>*@
                @*<td>*@
                    @*<center>{{getSparePartties.partType.description}}</center>*@
                @*</td>*@
            @*</tr>*@
            @*<tr>*@
                @*<td>*@
                    @*<center>{{getSparePartties.fablicationYear}}</center>*@
                @*</td>*@
            @*</tr>*@
        @*</table>*@
        @*<hr >*@
    @*</div>*@
@*</div>*@
<div ng-show="showSpareparts" class="list-group success">

    <div >
        <b><center>Part type details</center></b>
        <table style="width: 100%;height: 100%">
            <tr>
                <td>
                   <center> Part name: <span style="color: #61af50;"> {{getParttypeIndex.typeName}}</span></center>
                </td>
            </tr>
            <tr>
                <td>
                    <center>Serie number: <span style="color: #61af50;">{{getParttypeIndex.description}}</span></center>
                </td>
            </tr>
        </table>
        <hr>
    </div>
</div>
<div ng-show="showsearchDetails" class="list-group success">
    <div>
        <table style="width: 100%;height: 100%">
            <tr>
                <td><center><img src="@routes.Assets.at("images/{{getSparePartIndex.partType.vehicleModel.bland.image}}")" class="img-responsive" style="height: 80px;width:80px"></center></td>
            </tr>
            <tr>
                <td>
                    <center>Bland name: <span style="color: #61af50;"> {{getSparePartIndex.partType.vehicleModel.bland.blandName}}</span></center>
                </td>
            </tr>
        </table>
        <hr >
        <table style="width: 100%;height: 100%">
            <tr>
                <td><center><img src="@routes.Assets.at("images/{{getSparePartIndex.partType.vehicleModel.image}}")" class="img-responsive" style="height: 80px;width:80px"></center></td>
            </tr>
            <tr>
                <td>
                    <center>Model name: <span style="color: #61af50;"> {{getSparePartIndex.partType.vehicleModel.modelName}}</span></center>
                </td>
            </tr>
        </table>
        <hr >
        <table style="width: 100%;height: 100%">
            <tr>
                <td><center><img src="@routes.Assets.at("images/{{getSparePartIndex.partType.image}}")" class="img-responsive" style="height: 80px;width:80px"></center></td>
            </tr>
            <tr>
                <td>
                    Part type name: <span style="color: #61af50;">{{getSparePartIndex.partType.typeName}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    Part type description: <span style="color: #61af50;">{{getSparePartIndex.partType.description}}</span>
                </td>
            </tr>
        </table>
        <hr>
    </div>
</div>