
    @dashboardHome("Admin-home"){
    <div ng-controller="MainController">
    @inHeader()
    <div class="col-lg-2">



        <div style="height:36px">

        </div>



        <div  class="list-group success">
            <a class="list-group-item active"  href="">Dashboard</a>
            <a class="list-group-item "  href="">Manage user</a>
            <a class="list-group-item "  href="">Manage bland</a>
            <a class="list-group-item "  href="">Mange vehicle</a>
            <a class="list-group-item "  href="">Mange vehicle series</a>
            <a class="list-group-item "  href="">Manage spare part</a>
            <a class="list-group-item "  href="">Manage spare part type</a>
        </div>


    </div>
    <div class="col-lg-8">

    </div>
    <div class="col-lg-2"></div>
    </div>
}