<div style="height: 40px;padding-top: 3px; background-color: #61af50; padding-left: 2%; padding-right: 2%;" class="navbar-fixed-bottom">
    <nav role="navigation" style="padding-bottom: 1%; padding-top: 1%; padding-left: 1%; color: #fbb720;">
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
           <p><b>Copyright &copy; @(new Date().format("YYYY")) Rwanda Revenue Authority. All right reserved</b><span style="margin-right: 1%;" class="pull-right">Developed by: Combinaison Ltd.</span></p>
        </div>
    </nav>
</div>