<nav class="navbar navbar-default" style = "margin-top:0px" role="navigation">
    <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class = "row">


            <a class="navbar-brand" href="/" style="color:white">Vehicle spares part database</a>



            <div class="col-lg-4" style = "margin-top:3px">

                <div class="input-group" style = "margin-top:5px;max-width:300px">

                </div><!-- /input-group -->





            </div><!-- /.col-lg-6 -->
            <ul class="col-lg-4 nav navabar-nav navbar-right" style = "margin-top:5px">
            <li class = "pull-right"><a href="" style="">Login</a></li>




            </ul>







        </div>








    </div><!-- /.container-fluid -->
</nav>
