<nav class="navbar navbar-default" role="navigation">
    <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <img class="pull-left" src="@routes.Assets.at("images/rra.png")" height="50px" width="130px">
        <a style="color: #61af51; font-size: 160%;" class="navbar-brand" href="@routes.HomeController.index()"><li class="fa fa-cogs"></li> VEHICLE PARTS DATABASE ENGINE</a>
    </div>
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav pull-right">
            <li><a class="btn btn-default"  href="@routes.Application.loginpage()"><span class="fa fa-lock"></span>   Login</a></li>
        </ul>
        <div class="col-sm-4 col-md-4 pull-right">
            <form class="navbar-form" role="search">
                <div class="input-group">
                    <input type="text" class="form-control" ng-model="search" placeholder="Search by part number" name="q">
                    <div class="input-group-btn">
                        <button class="btn btn-default" ng-click="searchpartModel(search)" type="button"><i class="glyphicon glyphicon-search"></i></button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</nav>