
@main("Home"){
<div class="container">
@frontHeader()
        <div style="height:100%;margin-top:0" class="panel panel-default">
                <div class="row">
                        <div class="col-md-4">
                                <div class="thumbnail">
                                             <a href="">
                                                <img src="@routes.Assets.at("images/benz.png")" alt="" class="img-responsive" style="height: 100px;width:200px" >
                                                <div class="caption">
                                                        <center>Model</center>
                                                </div>
                                             </a>
                                </div>
                        </div>
                        <div class="col-md-4">
                                <div class="thumbnail">
                                        <a href="">
                                                <img src="@routes.Assets.at("images/hyundai.png")" class="img-responsive" alt="" style="height: 100px;width:200px">
                                                <div class="caption">
                                                        <center>Model</center>
                                                </div>
                                        </a>
                                </div>
                        </div>
                        <div class="col-md-4">
                                <div class="thumbnail">
                                        <a href="">
                                                <img src="@routes.Assets.at("images/mitsubish.png")" alt="" class="img-responsive"  style="height: 100px;width:200px">
                                                <div class="caption">
                                                        <center>Model</center>
                                                </div>
                                        </a>
                                </div>
                        </div>
                        <div class="col-md-4">
                                <div class="thumbnail">
                                        <a href="">
                                        <img  src="@routes.Assets.at("images/nissan.png")" alt="" class="img-responsive" style="height: 100px;width:200px">
                                        <div class="caption">
                                                <center>Model</center>
                                        </div>
                                        </a>

                                </div>
                        </div>
                        <div class="col-md-4">
                                <div class="thumbnail">
                                        <a href="">
                                        <img src="@routes.Assets.at("images/landrover.png")" alt="" class="img-responsive" style="height: 100px;width:200px">
                                        <div class="caption">
                                                <center>Model</center>
                                        </div>
                                        </a>

                                </div>
                        </div>
                        <div class="col-md-4">
                                <div class="thumbnail">
                                        <a href="">
                                        <img src="@routes.Assets.at("images/toyota.png")" alt="" class="img-responsive" style="height: 100px;width:200px">
                                        <div class="caption">
                                                <center>Model</center>
                                        </div>
                                        </a>

                                </div>
                        </div>
                </div>
        </div>
</div>



}