@main("Home"){
<div ng-controller="MainController" class="container">
@frontHeader()
        <div ng-show="showBland" ng-init="loadBlands()" style="height:100%;margin-top:0" class="panel panel-default">
                <ul class="breadcrumb">
                        <li>Vehicle bland</li>
                </ul>
                <div ><center><h2>Please select a bland type to browse vehicles and parts... </h2></center></div>
                <div   class="row">
                        <div ng-repeat="m in blands" class="col-md-4">
                                <div class="thumbnail">
                                             <a ng-click="selectVehicle(m.id)" href="">
                                                <img src="@routes.Assets.at("images/{{m.image}}")" alt="{{m.blandName}}" class="img-responsive" style="height: 100px;width:200px" >
                                                <div class="caption">
                                                        <center>{{m.blandName |uppercase}}</center>
                                                </div>
                                             </a>
                                </div>
                        </div>

                </div>

        </div>
        <div ng-show="showVehile" style="height:100%;margin-top:0" class="panel panel-default col-lg-12">
                <ul class="breadcrumb">
                        <li><a ng-click="showBlandPage()" href="">Vehicle bland</a></li>
                        <li>Vehicle</li>
                </ul>

                <div  class="col-lg-3">
                        <br>
                   @actionFlow()
                </div>
                <div class="col-lg-9">
                        <div   class="row">
                                <div ng-repeat="v in vehicleType" class="col-md-4">
                                        <div class="thumbnail">
                                                <a ng-click="selectSeries(v.id)" href="">
                                                        <img src="@routes.Assets.at("images/{{v.image}}")" alt="{{v.vehicleName}}" class="img-responsive" style="height: 50px;width:70px" >
                                                        <div class="caption">
                                                                <center>{{v.vehicleName |uppercase}}</center>
                                                        </div>
                                                </a>
                                        </div>
                                </div>

                        </div>
                </div>

        </div>
        <div ng-show="showSerie" style="height:100%;margin-top:0" class="panel panel-default col-lg-12">
                <ul class="breadcrumb">
                        <li><a ng-click="showBlandPage()" href="">Vehicle bland</a></li>
                        <li><a ng-click="showVehilePage()" href="">Vehicle</a></li>
                        <li>Series</li>
                </ul>
                <div class="col-lg-3">
                        <br>
                        @actionFlow()
                </div>
                <div class="col-lg-9">
                        <div   class="row">
                                <div ng-repeat="s in seriesType" class="col-md-4">
                                        <div class="thumbnail">
                                                <a href="" ng-click="selectParttype(s.id)">
                                                        <h1>{{s.serieNo}}</h1>
                                                        <div class="caption">
                                                                <center>{{s.fablicationYear |uppercase}}</center>
                                                        </div>
                                                </a>
                                        </div>
                                </div>

                        </div>
                </div>

        </div>
        <div ng-show="showParttype" style="height:100%;margin-top:0" class="panel panel-default col-lg-12">
                <ul class="breadcrumb">
                        <li><a  ng-click="showBlandPage()"href="">Vehicle bland</a></li>
                        <li><a  ng-click="showVehilePage()" href="">Vehicle</a></li>
                        <li><a  ng-click="showSeriePage()" href="">Serie</a></li>
                        <li>Part type</li>
                </ul>

                <div class="col-lg-3">
                        <br>
                        @actionFlow()
                </div>
                <div class="col-lg-9">
                        <div   class="row">
                                <div ng-repeat="sp in sparepartTypes" class="col-md-4">
                                        <div class="thumbnail">
                                                <a href="" ng-click="selectspareparty(sp.id)">
                                                        <img src="@routes.Assets.at("images/{{sp.image}}")" alt="{{sp.typeName}}" class="img-responsive" style="height: 100px;width:200px" >
                                                        <div class="caption">
                                                                <center>{{sp.description }}</center>
                                                        </div>
                                                </a>
                                        </div>
                                </div>

                        </div>
                </div>

        </div>
        <div ng-show="showSparepart" style="height:100%;margin-top:0" class="panel panel-default col-lg-12">
                <ul class="breadcrumb">
                        <li><a  ng-click="showBlandPage()"href="">Vehicle bland</a></li>
                        <li><a  ng-click="showVehilePage()" href="">Vehicle</a></li>
                        <li><a  ng-click="showSeriePage()" href="">Serie</a></li>
                        <li><a ng-click="showParttypePage()" href="">Part type</a></li>
                        <li>Spare part</li>
                </ul>

                <div class="col-lg-3">
                        <br>
                        @actionFlow()
                </div>
                <div class="col-lg-9">
                        <div   class="row">
                                <div ng-repeat="i in sparepartss" class="col-md-4">
                                        <div class="thumbnail">
                                                <a href="">
                                                        <img src="@routes.Assets.at("images/{{i.image}}")" alt="{{i.typeName}}" class="img-responsive" style="height: 100px;width:200px" >
                                                        <div class="caption">
                                                                <center>{{i.fablicationYear |uppercase}}</center>
                                                        </div>
                                                </a>
                                        </div>
                                </div>

                        </div>
                </div>

        </div>
        <div ng-show="showSparepartDetails" style="height:100%;margin-top:0" class="panel panel-default col-lg-12">
                <ul class="breadcrumb">
                        <li><a  ng-click="showBlandPage()"href="">Vehicle bland</a></li>
                        <li><a  ng-click="showVehilePage()" href="">Vehicle</a></li>
                        <li><a  ng-click="showSeriePage()" href="">Serie</a></li>
                        <li><a ng-click="showParttypePage()" href="">Part type</a></li>
                        <li><a ng-click="showsparepartyPage()" href="">Spare part</a></li>
                        <li>Spare part details</li>
                </ul>

                <div class="col-lg-3">
                        <br>
                        @actionFlow()
                </div>
                <div class="col-lg-9">
                        <div   class="row">
                                <div ng-repeat="v in sparepartDetail" class="col-md-4">
                                        <div class="thumbnail">
                                                <a ng-click="selectSeries(m.id)">
                                                        <img src="@routes.Assets.at("images/{{v.image}}")" alt="{{m.serieNo}}" class="img-responsive" style="height: 100px;width:200px" >
                                                        <div class="caption">
                                                                <center>{{m.fablicationYear |uppercase}}</center>
                                                        </div>
                                                </a>
                                        </div>
                                </div>

                        </div>
                </div>

        </div>
</div>



}