@(title: String)(content: Html)

<!DOCTYPE html>

<html>
<head>
    <title>@title</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" media="screen" href="@routes.Assets.at("bootstrap/css/bootstrap.css")">
    <link rel="stylesheet" media="screen" href="@routes.Assets.at("bootstrap/css/breadcrumbs.css")">
    <link rel="stylesheet" media="screen" href="@routes.Assets.at("/bootstrap/css/simple-sidebar.css")">
    <link rel="stylesheet" media="screen" href="@routes.Assets.at("/bootstrap/css/font-awesome.min.css")">
    <link rel="stylesheet" media="screen" href="@routes.Assets.at("bootstrap-datepicker/css/datepicker3.css")">
    <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon.png")">
    <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/main.css")">
    <script src="@routes.Assets.at("javascripts/jquery-1.9.0.min.js")" type="text/javascript"></script>
    <script src="@routes.Assets.at("javascripts/angular.min.js")" type="text/javascript"></script>
        <script src="@routes.Assets.at("javascripts/angular-route.min.js")"></script>
    <script src="@routes.Assets.at("javascripts/dirPagination.js")"></script>
        <script src="@routes.Assets.at("javascripts/app.js")" type="text/javascript"></script>
    <script src="@routes.Assets.at("javascripts/maincontroller.js")" type="text/javascript"></script>
        <script src="@routes.Assets.at("javascripts/highcharts.js")"></script>
    <script src="@routes.Assets.at("javascripts/exporting.js")"></script>
    <script src="@routes.Assets.at("javascripts/angular-breadcrumb.js")"></script>
    <script src="@routes.Assets.at("javascripts/angular-breadcrumb.min.js")"></script>
    </head>
    <body ng-app="spareApp" ng-cloak style = "background:#3a99c4;">
    @content
        <script src="@routes.Assets.at("bootstrap/js/bootstrap.js")" type="text/javascript"></script>
        <script src="@routes.Assets.at("bootstrap-datepicker/js/bootstrap-datepicker.js")" type="text/javascript"></script>
    <script>
                $('div.alert').not('.alert-important').delay(3000).slideUp(300);
    </script>
    <script >
                $(function () {
                    $('#datepicker').datepicker();
                });
        </script>
    <script>
    $("#menu-toggle").click(function(e) {
        e.preventDefault();
        $("#wrapper").toggleClass("toggled");
    });
    </script>
    </body>
</html>
