
@dashboardHome("Part type page"){
    <div ng-controller="MainController">
        @inHeader()
        <div class="col-lg-2">



            <div style="height:36px">

            </div>



            @sideBar("sparePartType")


        </div>
        <div class="col-lg-8">
            <div style="min-height:300px">

                <h1 style="padding:0px; margin:0px">Spare party type control</h1>


                <br>


                <div>



                </div>

                <div class="">
                    <ul class="nav nav-tabs">
                        <li role="presentation" ><a href="" class="btn btn-success" ng-click="new = !new">Add a new type</a></li>
                    </ul>
                </div>
                <form ng-submit="savePartType()" name="myForm" >
                    <div ng-show="new" class="panel panel-default" style="border-top-style:none">


                        <div ng-init="loadSerie()"  class="panel-body">
                            <div class="panel panel-default" style="background:whitesmoke">
                                <div class="panel-heading">
                                    <h3 style="padding:0px; margin:0px">New Part type registration</h3>
                                </div>
                                <div class="panel-body">
                                    <label>
                                        Serie
                                    </label>
                                    <select ng-model="newVehicleInfo.serieId" class="form-control">
                                        <option ng-repeat="m in series" value="{{m.id}}">{{m.serieName}}</option>
                                    </select>
                                    <label>
                                       Type name
                                    </label>
                                    <input required ng-model="newVehicleInfo.typeName" placeholder="typeName" class="form-control">
                                    <label>
                                       Image
                                    </label>
                                    <input  ng-model="newVehicleInfo.image" placeholder="image" class="form-control">

                                    <label>
                                        Description
                                    </label>
                                    <input required ng-model="newVehicleInfo.description" placeholder="description" class="form-control">
                                    <hr>


                                    <button type="submit" ng-disabled="myForm.$invalid" class="btn btn-success">Save</button> <button ng-click="new = false" class="btn btn-default">Cancel</button>

                                </div>
                            </div>
                        </div>

                    </div>
                </form>


                <br>
                <form class="" role="search" style = "width:100%;">
                    <div>
                        <div class="input-group">
                            <span class="input-group-addon" style="font-weight:bold; font-size:20px; padding:0px"><img src="@routes.Assets.at("images/rra.png")" style="height:45px" ></span><input ng-model="search" type="text" class="form-control" placeholder="Search " style = "height:50px">
                            <span class = "input-group-btn">

                                <button type="submit" ng-click="startsearch = true" class="btn btn-primary" style = "font-weight:bold; font-size:20px; height:50px">Search</button>
                            </span>
                        </div>

                    </div>
                </form>
                <div style="min-height:400px" class="">


                    <table ng-init="loadSparePartType()" class="table table-striped" style="">
                        <tr>
                            <th></th><th>Serie</th><th>Type </th><th>image</th><th>Description</th><th >Done by</th><th >date</th><th></th>
                        </tr>

                        <tr ng-repeat="a in loadSparePartTypes |filter:search">
                            <td><button ng-click="a.edit = true" ng-hide="a.edit" class="btn btn-primary"><span class="glyphicon glyphicon-pencil"></span></button>
                                <div ng-show="a.edit" class="panel panel-default" style="z-index:1000; position:absolute; width:400px; background:whitesmoke">
                                    <div style="padding:5px;">

                                        <a href="" class="pull-right" ng-click="a.edit = false" style="color:red">X</a>
                                    </div>

                                    <hr>
                                    <div class="panel-body">
                                        <label>
                                            Serie
                                        </label>
                                        <select ng-model="a.serieId" class="form-control">
                                            <option ng-repeat="m in series" value="{{m.id}}">{{m.serieName}}</option>
                                        </select>
                                        <label>
                                            Type name
                                        </label>
                                        <input required ng-model="a.typeName" placeholder="typeName" class="form-control">
                                        <label>
                                            Image
                                        </label>
                                        <input required ng-model="a.image" placeholder="image" class="form-control">

                                        <label>
                                            Description
                                        </label>
                                        <input required ng-model="a.description" placeholder="description" class="form-control">
                                        <hr>


                                        <button ng-click="updatePartType(a)" class="btn btn-success">Update</button> <button ng-click="a.edit = false" class="btn btn-default">Cancel</button>


                                    </div>
                                </div>
                                    <!-- Modal -->
                                <div id="myModal{{a.id}}" class="modal fade" role="dialog">
                                    <div class="modal-dialog">

                                            <!-- Modal content-->
                                        <div class="modal-content">
                                            <form ng-submit="disablePartType(a)" >
                                                <div class="modal-header">
                                                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                                                    <h4 class="modal-title">Do you want to delete {{a.typeName}} ?</h4>
                                                </div>
                                                <div class="modal-body">

                                                    <label>Delete reason</label>
                                                    <textarea class="form-control" ng-model="a.deleteReason" required></textarea>

                                                </div>
                                                <div class="modal-footer">
                                                    <button type="submit" class="btn btn-success"  >Delete</button><button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                                </div>
                                            </form>
                                        </div>

                                    </div>
                                </div>
                            </td><td>{{a.series.serieName}}</td><td>{{a.typeName}}</td><td>{{a.image}}</td><td >{{a.description}}</td><td >{{a.doneBy}}</td><td >{{a.doneAt|date}}</td><td><button type="button"  data-toggle="modal" data-target="#myModal{{a.id}}"  class="btn btn-danger" ><span  class=" glyphicon glyphicon-remove"></span></button></td>
                        </tr>

                    </table>


                </div>



            </div>

        </div>
        <div class="col-lg-2"></div>
    </div>
}