
@dashboardHome("Vehicle page"){
    <div ng-controller="MainController">
        @inHeader()
        <div class="col-lg-2">



            <div style="height:36px">

            </div>



            @sideBar("vehicle")


        </div>
        <div class="col-lg-8">
            <div style="min-height:300px">

                <h1 style="padding:0px; margin:0px">Vehicle control</h1>


                <br>


                <div>



                </div>

                <div class="">
                    <ul class="nav nav-tabs">
                        <li role="presentation" ><a href="" class="btn btn-success" ng-click="new = !new">Add a new vehicle</a></li>
                    </ul>
                </div>
                <form ng-submit="saveVehicle()" name="myForm" >
                    <div ng-show="new" class="panel panel-default" style="border-top-style:none">
                        <div class="panel-body">
                            <div class="panel panel-default" style="background:whitesmoke">
                                <div class="panel-heading">
                                    <h3 style="padding:0px; margin:0px">New vehicle registration</h3>
                                </div>
                                <div ng-init="loadBlands()" class="panel-body">
                                    <label>
                                        Bland name
                                    </label>
                                    <select required ng-model="newVehicleInfo.blandId"  class="form-control">
                                        <option ng-repeat="m in blands" value="{{m.id}}">{{m.blandName}}</option>
                                    </select>
                                    <label>
                                        Vehicle name
                                    </label>
                                    <input required ng-model="newVehicleInfo.vehicleName" placeholder="Vehicle name" class="form-control">
                                    <label>
                                        description
                                    </label>
                                    <textarea  ng-model="newVehicleInfo.description" placeholder="Description" class="form-control"></textarea>
                                    <label>
                                        Image
                                    </label>
                                    <input type="file" ng-model="newVehicleInfo.image" placeholder="Image" class="form-control">
                                    <div ng-if="newVehicleInfo.image!=''">image load</div>
                                    <label>
                                        fabrication year
                                    </label>
                                    <input required ng-model="newVehicleInfo.fablicationYear" placeholder="Fabrication year" class="form-control">
                                    <hr>


                                    <button type="submit" ng-disabled="myForm.$invalid" class="btn btn-success">Save</button> <button ng-click="new = false" class="btn btn-default">Cancel</button>

                                </div>
                            </div>
                        </div>

                    </div>
                </form>


                <br>
                <form class="" role="search" style = "width:100%;">
                    <div>
                        <div class="input-group">
                            <span class="input-group-addon" style="font-weight:bold; font-size:20px; padding:0px"><img src="@routes.Assets.at("images/rra.png")" style="height:45px" ></span><input ng-model="search" type="text" class="form-control" placeholder="Search " style = "height:50px">
                            <span class = "input-group-btn">

                                <button type="submit" ng-click="startsearch = true" class="btn btn-primary" style = "font-weight:bold; font-size:20px; height:50px">Search</button>
                            </span>
                        </div>

                    </div>
                </form>
                <div style="min-height:400px" class="">


                    <table ng-init="loadVehicle()" class="table table-striped" style="">
                        <tr>
                            <th></th><th>Bland name</th><th>Vehicle name</th><th>Description</th><th>Image</th><th>Fablication year</th><th >Done by</th><th >date</th><th></th>
                        </tr>

                        <tr ng-repeat="a in vehicles |filter:search">
                            <td><button ng-click="a.edit = true" ng-hide="a.edit" class="btn btn-primary"><span class="glyphicon glyphicon-pencil"></span></button>
                                <div ng-show="a.edit" class="panel panel-default" style="z-index:1000; position:absolute; width:400px; background:whitesmoke">
                                    <div style="padding:5px;">

                                        <a href="" class="pull-right" ng-click="a.edit = false" style="color:red">X</a>
                                    </div>

                                    <div class="panel-body">
                                        <label>
                                            Bland name
                                        </label>
                                        <select required ng-model="a.blandId"  class="form-control">
                                            <option value="{{a.bland.id}}">{{a.bland.blandName}}</option>
                                            <option ng-repeat="m in blands" value="{{m.id}}">{{m.blandName}}</option>
                                        </select>
                                        <label>
                                            Vehicle name
                                        </label>
                                        <input required ng-model="a.vehicleName" placeholder="Vehicle name" class="form-control">
                                        <label>
                                            description
                                        </label>
                                        <textarea  ng-model="a.description" placeholder="Description" class="form-control">{{newVehicleInfo.description}}</textarea>
                                        <label>
                                            fabrication year
                                        </label>
                                        <input required ng-model="a.fablicationYear" placeholder="Fabrication year" class="form-control">
                                        <hr>


                                        <button ng-click="updateVehicle(a)" class="btn btn-success">Update</button> <button ng-click="a.edit = false" class="btn btn-default">Cancel</button>


                                    </div>
                                </div>

                                    <!-- Modal -->
                                <div id="myModal{{a.id}}" class="modal fade" role="dialog">
                                    <div class="modal-dialog">

                                            <!-- Modal content-->
                                        <div class="modal-content">
                                            <form ng-submit="disableVehicle(a)" >
                                                <div class="modal-header">
                                                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                                                    <h4 class="modal-title">Do you want to delete {{a.vehicleName}} ?</h4>
                                                </div>
                                                <div class="modal-body">

                                                    <label>Delete reason</label>
                                                    <textarea class="form-control" ng-model="a.deleteReason" required></textarea>

                                                </div>
                                                <div class="modal-footer">
                                                    <button type="submit" class="btn btn-success"  >Delete</button><button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                                </div>
                                            </form>
                                        </div>

                                    </div>
                                </div>
                            </td><td>{{a.bland.blandName}}</td><td>{{a.vehicleName}}</td><td>{{a.description}}</td><td >{{a.image}}</td><td >{{a.fablicationYear}}</td><td >{{a.doneBy}}</td><td >{{a.doneAt|date}}</td><td><button type="button"  data-toggle="modal" data-target="#myModal{{a.id}}"  class="btn btn-danger" ><span  class=" glyphicon glyphicon-remove"></span></button></td>
                        </tr>

                    </table>


                </div>



            </div>

        </div>
        <div class="col-lg-2"></div>
    </div>
}