@dashboardHome("Vehicle page") {
    <div ng-controller="MainController">
        @inHeader()
        <div class="col-lg-2">
            <div style="height:36px">
            </div>
            @sideBar("vehicle")
        </div>
        <div class="col-lg-8" style="margin-left: 1% ; width: 82% ;">
            <div style="min-height:300px">
                <div>
                </div>
                <div class="">
                    <ul class="nav nav-tabs">
                        <li role="presentation" ><a href="" class="btn btn-success" ng-click="new = !new;getphoto='';btnSubmit=false">
                            Add a new vehicle</a></li>
                        <span class="pull-right"> <h1 style="padding:0px ; margin:0px">
                            Vehicle management web page <i class="glyphicon glyphicon-pencil"></i></h1></span>
                    </ul>
                </div>
                <form ng-submit="saveVehicle()" name="myForm">
                    <div ng-show="new" class="panel panel-default" style="border-top-style:none">
                        <div class="panel-body">
                            <div class="panel panel-default" style="background:whitesmoke">
                                <div class="panel-heading">
                                    <h3 style="padding:0px ; margin:0px">New vehicle registration</h3>
                                </div>
                                <div ng-init="loadBlands()" class="panel-body">
                                    <label>
                                        Bland name
                                    </label>
                                    <select required ng-model="newVehicleInfo.blandId" class="form-control">
                                        <option ng-repeat="m in blands" value="{{m.id}}">
                                            {{m.blandName}} [ {{m.description}} ]</option>
                                    </select>
                                    <label>
                                        Vehicle name
                                    </label>
                                    <input required ng-model="newVehicleInfo.vehicleName" placeholder="Vehicle name" class="form-control">
                                    <label>
                                        description
                                    </label>
                                    <textarea ng-model="newVehicleInfo.description" placeholder="Description" class="form-control"></textarea>
                                    <label>
                                        fabrication year
                                    </label>
                                    <input required ng-model="newVehicleInfo.fablicationYear" placeholder="Fabrication year" class="form-control">
                                    <br>
                                    <div style="position:relative ;">
                                        <a class='btn btn-primary' href='javascript:;'>
                                            Photo upload ....
                                            <input type="file" ng-model="newVehicleInfo.photo" onchange="angular.element(this).scope().uploadPhoto(this.files)" name="photo" style='position:absolute ; z-index:2 ; top:0 ; left:0 ; filter: alpha(opacity=0) ; -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)" ; opacity:0 ; background-color:transparent ; color:transparent ;' name="file_source" size="40" >
                                        </a>
                                            &nbsp;
                                        <span ng-show="btnSubmit" ><img style="height: 50px ; width: 50px" src="@routes.Assets.at("images/{{getphoto}}")"></span>
                                        <div ng-if="getphoto=='Error'" class="msgcv.class">{{msgcv.message}}</div>

                                    </div>
                                    <hr>


                                    <button type="submit" ng-disabled="myForm.$invalid" class="btn btn-success">
                                        Save</button> <button ng-click="new = false" class="btn btn-default">Cancel</button>

                                </div>
                            </div>
                        </div>

                    </div>
                </form>


                <br>
                <form class="" role="search" style = "width:100% ;">
                    <div>
                        <div class="input-group">
                            <span class="input-group-addon" style="font-weight:bold ; font-size:20px ; padding:0px"><img src="@routes.Assets.at("images/rra.png")" style="height:45px" ></span><input ng-model="search" type="text" class="form-control" placeholder="Search " style = "height:50px">
                            <span class = "input-group-btn">

                                <button type="submit" ng-click="startsearch = true" class="btn btn-primary" style = "font-weight:bold ; font-size:20px ; height:50px">
                                    Search</button>
                            </span>
                        </div>

                    </div>
                </form>Select records per page :
                <select ng-model="number" style="width: 20%; margin: 0.5%;">
                    <option value="5">5</option>
                    <option value="10">10</option>
                    <option value="50">50</option>
                    <option value="1000000">All</option>
                </select>
                <div style="min-height:400px" class="">
                    <table ng-init="loadVehicle();number=5" class="table table-striped" style="">
                        <tr class="success">
                            <th>Edit</th><th>Image</th><th>Bland name</th><th>Vehicle name</th><th>Description</th><th>
                            Fabrication year</th><th >Done by</th><th >date</th><th>Remove</th>
                        </tr>
                        <tr dir-paginate="a in vehicles |filter:search |itemsPerPage:number">
                            <td><button ng-click="a.edit = true" ng-hide="a.edit" class="btn btn-default pull-left"><span style="color: #3396d2 ;" class="glyphicon glyphicon-pencil"></span></button>
                                <div ng-show="a.edit" class="panel panel-default" style="z-index:1000 ; position:absolute ; width:400px ; background:whitesmoke">
                                    <div style="padding:5px ;">
                                        <a href="" class="pull-right" ng-click="a.edit = false" style="color:#3796d3;"><li class="fa fa-arrow-up"></li> </a>
                                    </div>
                                    <span style="color: #3696d4 ;"> <h3>&nbsp;&nbsp;&nbsp;{{a.vehicleName}} modification form <li class="glyphicon glyphicon-pencil"></li> </h3></span>
                                    <div class="panel-body">
                                        <label>
                                            Bland name
                                        </label>
                                        <select required ng-model="a.blandId" class="form-control">
                                            <option value="{{a.bland.id}}">{{a.bland.blandName}}</option>
                                            <option ng-repeat="m in blands" value="{{m.id}}">{{m.blandName}}</option>
                                        </select>
                                        <label>
                                            Vehicle name
                                        </label>
                                        <input required ng-model="a.vehicleName" placeholder="Vehicle name" class="form-control">
                                        <label>
                                            description
                                        </label>
                                        <textarea ng-model="a.description" placeholder="Description" class="form-control">
                                            {{newVehicleInfo.description}}</textarea>
                                        <label>
                                            fabrication year
                                        </label>
                                        <input required ng-model="a.fablicationYear" placeholder="Fabrication year" class="form-control">
                                        <hr>
                                        <button ng-click="updateVehicle(a)" class="btn btn-success pull-right" style="margin-left: 1%;">
                                            Update {{a.vehicleName}}</button> <button ng-click="a.edit = false" class="btn btn-default pull-right">
                                        Cancel</button>
                                    </div>
                                </div>

                                    <!-- Modal -->
                                <div id="myModal{{a.id}}" class="modal fade" role="dialog">
                                    <div class="modal-dialog">

                                            <!-- Modal content-->
                                        <div class="modal-content">
                                            <form ng-submit="disableVehicle(a)" >
                                                <div class="modal-header">
                                                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                                                    <h4 class="modal-title">Do you want to delete {{a.vehicleName}} ?</h4>
                                                </div>
                                                <div class="modal-body">

                                                    <label>Delete reason</label>
                                                    <textarea class="form-control" ng-model="a.deleteReason" required></textarea>

                                                </div>
                                                <div class="modal-footer">
                                                    <button type="submit" class="btn btn-success" >
                                                        Delete</button><button type="button" class="btn btn-default" data-dismiss="modal">
                                                    Close</button>
                                                </div>
                                            </form>
                                        </div>

                                    </div>
                                </div>
                                    <!-- Modal -->
                                <div id="myModalEdit{{a.id}}" class="modal fade" role="dialog">
                                    <div class="modal-dialog">
                                            <!-- Modal content-->
                                        <div class="modal-content">
                                            <form ng-submit="updateVehicleImage(a)" method="post" >
                                                <div class="modal-header">
                                                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                                                    <h4 class="modal-title">
                                                        <span style="color: white ;">
                                                            Change photo for {{a.vehicleName}} ?</span></h4>
                                                </div>
                                                <div class="modal-body">

                                                    <div style="position:relative ;">
                                                        <a class='btn btn-primary' href='javascript:;'>
                                                            Photo image ....
                                                            <input type="file" ng-model="image" onchange="angular.element(this).scope().uploadPhoto(this.files)" name="photo" style='position:absolute ; z-index:2 ; top:0 ; left:0 ; filter: alpha(opacity=0) ; -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)" ; opacity:0 ; background-color:transparent ; color:transparent ;' name="file_source" size="40" >

                                                        </a>
                                                            &nbsp;

                                                        <img ng-show="btnSubmit" src="@routes.Assets.at("images/{{getphoto}}")" style="width: 40px ; height: 40px ;" class="img-responsive img-thumbnail">
                                                        <div ng-if="getphoto=='Error'" class="msgcv.class">
                                                            {{msgcv.message}}</div>

                                                    </div>
                                                </div>
                                                <div class="modal-footer">
                                                    <button type="submit" class="btn btn-success" >
                                                        Change image for {{a.vehicleName}}</button><button type="button" class="btn btn-default" data-dismiss="modal">
                                                    Close</button>
                                                </div>
                                            </form>
                                        </div>

                                    </div>
                                </div>
                            </td><td ><a href="#" data-toggle="modal" data-target="#myModalEdit{{a.id}}" ><img ng-if="a.image ==''" src="@routes.Assets.at("images/avatar.png")" style="width: 40px ; height: 40px ;" class="img-responsive img-thumbnail"><img ng-if="a.image !=''" src="@routes.Assets.at("images/{{a.image}}")" style="width: 40px ; height: 40px ;" class="img-responsive img-thumbnail"></a></td><td>
                            {{a.bland.blandName}}</td><td>{{a.vehicleName}}</td><td>
                            {{a.description}}</td><td >
                            {{a.fablicationYear}}</td><td >{{a.doneBy}}</td><td >
                            {{a.doneAt|date}}</td><td><button type="button" data-toggle="modal" data-target="#myModal{{a.id}}" class="btn btn-default pull-right" ><span style="color: red ;" class=" glyphicon glyphicon-remove"></span></button></td>
                        </tr>
                        <tr class="success">
                            <th>Edit</th><th>Image</th><th>Bland name</th><th>Vehicle name</th><th>Description</th><th>
                            Fabrication year</th><th >Done by</th><th >date</th><th>Remove</th>
                        </tr>

                    </table>
                    <div style="margin-top: -3%;" class="pull-right">
                        <dir-pagination-controls boundary-links="true" on-page-change="pageChangeHandler(newPageNumber)" template-url="/assets/partials/tables/dirPagination.tpl.html"></dir-pagination-controls>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-2"></div>
    </div>
}